/*csslint ids: false*/


/****************************************
GENERAL
****************************************/
body {
    font-family: 'Roboto', Arial;
    background-image: url('http://www.fromquarkstoquasars.com/wp-content/uploads/2014/09/crab-nebula-wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    
}

#wrapper {
/* max-width is related to width, but instead of width, max-width that it can be smaller for mobile devices/tablets. */
    max-width: 940px;
/* Margin 0 is for all sides. */
    margin: 0 auto;
/* Values first one is top and bottom, second one is left and right. */
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/****************************************
HEADER
****************************************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo{
/* Our name and description of who we are... */
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Oswald', sans-serif;
    /* 1st value is for top. 2nd value is for left and right. 3rd value is for the bottom. */
    margin: 15px;
    font-size: 1.75em;
}

h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}

h3 {
    margin: 0 0 1em 0;
}

/****************************************
NAVIGATION
****************************************/


/****************************************
FOOTER
****************************************/
footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #0099FF;
    clear: both;
}

.social-media-icon {
    width: 35px;
    height: 30px;
    margin: 0 5px;
   
}

/***************************************
PAGE PORTFOLIO
***************************************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: lightblue;
    color: #0099FF;    
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: black;
}

/***************************************
ABOUT ME PAGE PORTFOLIO
***************************************/
.profile_photo {
    display: block;
    max-width: 30px;
    border-radius: 15%;
}

/***************************************
CONTACT PAGE
***************************************/
.contact-info{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 28px;
    /* By default it will always repeat, background images. */
    background-repeat: no-repeat;
    /* Re-size the background img. */
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 30px;
}

.contact-info li.mail a {
    background-image: url('../img/Thing.jpg');
}
.contact-info li.mail a {   
    background-image: url('../img/Thing.jpg');
}

/***************************************
COLORS
***************************************/
body {
    background-color: dodgerblue;
    color: aqua;

}

a {
    color: black;
} 

header {
    background: #0099FF;   
}

h1, h2{
    color: black;       
}


/****************************************
Media Querie
****************************************/
/* TWO COLUMN LAYOUT */

@media screen and (min-width: 480px){
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
/* THREE COLUMN LAYOUT PORTFOLIO */
    #gallery li{
        width: 28.3333%;
    }
/* ABOUT PAGE */
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }    
}

@media screen and (min-width: 660px){
/* NAV */
    #logo{
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}
img{
    max-height: 100px;
    max-width: 100;
}
.parallax {

  background-image      : url('http://www.fromquarkstoquasars.com/wp-content/uploads/2014/09/crab-nebula-wallpaper.jpg');

  background-size       : cover;

  background-position-x : 50%;

  background-position-y : 0%;

  background-repeat     : no-repeat;

  height:500px;

}
